
    <div class="row">
      <div class="col-8">
        <a href="#">Battle of Nothing</a>
        <p>by author</p>
      </div>
      <div class="col-4">
        <p>4,25</p>
        <p>1500 readers</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-8">
        <a href="#">Who killed Laura Palmer</a>
        <p>by author</p>
      </div>
      <div class="col-4">
        <p>4,25</p>
        <p>1500 readers</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-8">
        <a href="#">Eat, Drink, Pay, repeat</a>
        <p>by author</p>
      </div>
      <div class="col-4">
        <p>4,25</p>
        <p>1500 readers</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-8">
        <a href="#">It's not your fault... Just kiding.</a>
        <p>by author</p>
      </div>
      <div class="col-4">
        <p>4,25</p>
        <p>1500 readers</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-8">
        <a href="#">OZ</a>
        <p>by author</p>
      </div>
      <div class="col-4">
        <p>4,25</p>
        <p>1500 readers</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-8">
        <a href="#">What the...</a>
        <p>by author</p>
      </div>
      <div class="col-4">
        <p>4,25</p>
        <p>1500 readers</p>
      </div>
    </div>
    <hr>
