
    <div class="row">
      <div class="col-8">
        <p>Battle of Nothing</p>
        <p>by author</p>
      </div>
      <div class="col-4">
        <p>4,25</p>
        <p>1500 readers</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-8">
        <p>Who killed Laura Palmer</p>
        <p>by author</p>
      </div>
      <div class="col-4">
        <p>4,25</p>
        <p>1500 readers</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-8">
        <p>Eat, Drink, Pay, repeat</p>
        <p>by author</p>
      </div>
      <div class="col-4">
        <p>4,25</p>
        <p>1500 readers</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-8">
        <p>It's not your fault... Just kiding.</p>
        <p>by author</p>
      </div>
      <div class="col-4">
        <p>4,25</p>
        <p>1500 readers</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-8">
        <p>OZ</p>
        <p>by author</p>
      </div>
      <div class="col-4">
        <p>4,25</p>
        <p>1500 readers</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-8">
        <p>What the...</p>
        <p>by author</p>
      </div>
      <div class="col-4">
        <p>4,25</p>
        <p>1500 readers</p>
      </div>
    </div>
    <hr>

</div>
</div>


{% endblock content %}
