{% extends "base-with-no-nav.html" %}
{% block content %}


{% include "_nav2.html" %}
<div class="container py-5">
  <h1>Add new book</h1>
  <p>Hello dear Author</p>
  <form>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Title</label>
      <input class="form-control" type="text" placeholder="Enter title of the book here">
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Subtitle</label>
      <input class="form-control" type="text" placeholder="Enter second title here (optional)">
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Description</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="5">Enter short description here</textarea>
    </div>
    <button type="submit" class="btn btn-outline-primary">Save</button>
  </form>
  <br><br>
  


</div>


{% endblock content %}
