{% extends "base-with-no-nav.html" %}
{% block content %}


{% include "_nav2.html" %}
<div class="container py-5">
  <h1>Edit chapter</h1>
  <p>Hello dear Author</p>
  <p>to book with title: .............. </p>
  <form>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Edit title of the chapter here</label>
      <input class="form-control" type="text" placeholder="Here goes original title of the chapter">
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Edit text</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="5">Text from the chapter to edit here</textarea>
    </div>
    <button type="submit" class="btn btn-outline-primary">Save</button>
  </form>



</div>


{% endblock content %}
