{% extends "base-with-no-nav.html" %}
{% block content %}


{% include "_nav2.html" %}
<div class="container py-5">

  <h1 id=top>Read</h1>

  <form>
    <div class="form-group">
      <label for="exampleFormControlTextarea1"></label>
      <input class="form-control" type="text" placeholder="Search by title or author">
    </div>
  </form>
  <div class="sticky-top">
    <a class="btn btn-outline-secondary sticky-top" href="#" role="button">tags and filters</a>
  </div>
  <br><br>


    <div class="row">
      <div class="col-8">
        <p>Battle of Nthing</p>
        <p>by author</p>
      </div>
      <div class="col-4">
        <p>4,25</p>
        <p>1500 readers</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-8">
        <p>Who killed Laura Palmer</p>
        <p>by author</p>
      </div>
      <div class="col-4">
        <p>4,25</p>
        <p>1500 readers</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-8">
        <p>Eat, Drink, Pay, repeat</p>
        <p>by author</p>
      </div>
      <div class="col-4">
        <p>4,25</p>
        <p>1500 readers</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-8">
        <p>It's not your faul... Just joking.</p>
        <p>by author</p>
      </div>
      <div class="col-4">
        <p>4,25</p>
        <p>1500 readers</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-8">
        <p>OZ</p>
        <p>by author</p>
      </div>
      <div class="col-4">
        <p>4,25</p>
        <p>1500 readers</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-8">
        <p>What the...</p>
        <p>by author</p>
      </div>
      <div class="col-4">
        <p>4,25</p>
        <p>1500 readers</p>
      </div>
    </div>
    <hr>

</div>
</div>


{% endblock content %}
