{% extends "base-with-no-nav.html" %}
{% block content %}


{% include "_nav2.html" %}
<div class="container py-5">
  <h2>The Da Vinci Code</h2>
  <p>Dan Brown</p>
  <p>Chapter 5 - Title chapter</p>
  <p>While in Paris, Harvard symbologist Robert Langdon is awakened by a phone call in the dead of the night. The elderly curator of the Louvre has been murdered inside the museum, his body covered in baffling symbols. As Langdon and gifted French cryptologist Sophie Neveu sort through the bizarre riddles, they are stunned to discover a trail of clues hidden in the works of Leonardo da Vinci—clues visible for all to see and yet ingeniously disguised by the painter.</p>
  <a class="btn btn-lg btn-outline-secondary" href="#" role="button">Continue reading</a>

  <br><br><br>

  <a class="btn btn-lg btn-outline-secondary" href="{% url 'read-something-new' %}" role="button">Read something new</a>


</div>


{% endblock content %}
