{% extends "base-with-no-nav.html" %}
{% block content %}


{% include "_nav2.html" %}
<div class="container py-5">
  <h1>Two Keys</h1>
  <p>by Rafal Szymanski</p>
  <h2>Chapter 5</h2>
  <p>Kolejną taksówką dotarli do Polikliniki w kilkanaście minut. Taksówkarz zatrzymał auto tuż pod samym wejściem głównym do wielkiego gmaszyska. Brązowe solidne drzwi uchylały się od wewnątrz, ktoś akurat wychodził i Sam odruchowo skierował się w tę stronę. W środku panował półmrok, ale dość szybko dotarli do recepcji. Sam był mocno zdenerwowany.

- Seniora, prosimy o pomoc, wysoki ksiądz miał wypadek, przewieziono go tutaj, ma długie ciemne włosy, co z nim? Gdzie leży? Czy jest jakiś lekarz?



Wysoka kobieta, dobrze po pięćdziesiątce, wciąż piękna, odwróciła wzrok od Samuela i przyjrzała się Ginie wnikliwie brązowymi mądrymi oczami. Biały fartuch i skromnie upięte czarne włosy podkreślały jej naturalny urok.

- Buona sera – zwróciła się do Giny. - Tak, przywieźli go po południu, jest po operacji. Żyje. Nie mogę powiedzieć wam więcej, bo nie jesteście rodziną. – zrelacjonowała zwięźle i skierowała wzrok na Samuela, spodziewając się jego reakcji.

- Skąd pani…

- Chce pan powiedzieć, że bardzo wysoki szatyn, to Pana brat, a kobieta, która mogłaby być jego siostrą nie jest bardziej przejęta jego stanem, niż Pan? Który nie jest jego bratem, prawda? Poza tym, to klinika wojskowa. Wasz przyjaciel został przywieziony tutaj, bo było najbliżej, ale to nie jest zwykły szpital. - Kobieta była zdecydowana, ale nie nieuprzejma. Jej spojrzenie było bardzo intensywne i zdradzało olbrzymią inteligencję oraz coś w rodzaju smutnej empatii, co sprawiło, że Gina nie odzywała się w ogóle, ufając kobiecie i wierząc jej na słowo.

- Żyje. Trzeba czekać. Za dwie godziny będzie ostatni obchód. Poczekajcie na lekarza.



Gina chwyciła Samuela pod łokieć – Chodź Sammy, usiądźmy.

Samuel spojrzał na Ginę, wrócił wzrokiem do kobiety i odczytał w jej spojrzeniu, że powiedziała już wszystko i powinien posłuchać Giny.



W poczekalni stało kilka rzędów starych ławek, dwa automaty z kawą, napojami i przekąskami, ściany malowane musiały być wiele lat temu, a kamienna posadzka pamiętała czasy sprzed kilku dziesięcioleci. Starszy pan czytał chłopcu jakiś komiks na głos, lecz dyskretnie, a młoda kobieta siedząca w drugim końcu ławek przesuwała palcem po smartfonie. Poza nimi nie było nikogo więcej. Sam i Gina usiedli zaraz z brzegu, jakby chcieli być jak najbliżej recepcji. Sam uspokoił się trochę na wieść, że Michael żyje. Przestraszył się, kiedy policjant na Piazza Venezia powiedział, że z Michael było kiepsko. Rozejrzał się po poczekalni, dostrzegł automat z napojami i spytał Ginę.

- Chcesz coś?

- Weź wodę, nie bierz kawy z automatu.

- Ok.

- Gazowaną.

- Wiem.



Samuel odszedł spokojniejszym już krokiem w kierunku drugiego końca poczekalni, gdzie stały automaty z napojami. Widać było, że jest już trochę zmęczony całym dniem. Nerwy związane z Michaelem, ale i sam upał, a może przede wszystkim upał sprawiły, że Samuel zaczął się nieco garbić. Gina wiedziała, że Samuel potrzebuje odpoczynku i regeneracji. Odpoczną chwilę w chłodnej poczekalni, ale potem powinni coś zjeść.

Samuel podszedł do maszyny z napojami. Ciekawe, co jest pod numerem 13. Woda gazowana. Jakże by inaczej. Ten cholerny upał zmęczył go bardziej, niż przypuszczał. Z nerwami o Michaela radził sobie jako, tako, ale z upałem nie. Na szczęście tu jest znacznie chłodniej. Wziął dwie wody gazowane i odwrócił się w stronę Giny.

Do poczekalni wszedł pospiesznie starszy mężczyzna spojrzał na Ginę i szybko skierował wzrok w stronę kobiety pracującej w recepcji. Ona nie spojrzała na niego, tylko opuściła głowę unikając jego spojrzenia i zajęła się dokumentami. Musiała zauważyć jego nagłe pojawienie się w poczekalni, ale zachowała się, jakby celowo nie chciała rozpocząć rozmowy z tym mężczyzną. Pewnie dał się jej we znaki już wcześniej i nie miała ochoty poświęcać mu uwagi.

Samuel usiadł koło Giny, otworzył jej wodę i podał.

- Tu trochę chłodniej. Od razu mi lepiej. Ten upał mnie wykańcza.

- Ja lubię. Ale faktycznie musi być ze trzydzieści stopni.

- Odpoczniemy tu chwilę, dobra?

- Chciałam to samo zaproponować. Słuchaj obchód jest za dwie godziny. Posiedźmy chwilę, a potem pójdźmy coś zjeść i wrócimy. Może spróbujemy spotkać lekarza i on powie nam coś więcej. Musimy też pomyśleć o noclegu.

- Tak. Tak, zrobimy.

Posiedzieli krótką chwilę w ciszy. Samuel cieszył się chłodem panującym w poczekalni i czuł, że zaczyna dochodzić do siebie. Uspokoił się, zaczął myśleć jaśniej, odzyskiwał energię. Całe szczęście, że nie okazało się, że życiu Michaela coś zagraża. Ten policjant niepotrzebnie go nastraszył.

- Ale dobra ta woda.

- Tak.

- Przepraszam, że to tak wszystko wyszło.

- Sammy, no co Ty. Przecież nie masz na to wpływu.

- Niby tak.

- Poszukam noclegu.



Gdzie ten starszy gość? Nie wychodził przecież. Umysł Samuela zaczynał pracować na normalnym poziomie. Gdzie on siedzi? On chyba usiadł za nami. Wpadł tak gwałtownie, o nic nie zapytał i nie wychodził. Musiał usiąść w rzędzie z tyłu. Samuel wyciągnął swój smartfon, podniósł go nieco wyżej i spróbował użyć jak lusterka, żeby sprawdzić, czy starszy mężczyzna faktycznie siedzi z nimi. Siedzi. Samuel szybko kliknął w smartfon udając, że korzysta z jakiejś aplikacji, przez co odbicie lustrzane zrobiło się znacznie mniej wyraźne, ale wciąż było widać sylwetkę mężczyzny. On chyba patrzy na nas.

- Słuchaj Sammy, może tutaj byśmy się zatrzymali? – Gina skierowała ekran swojego smartfona w stronę Samuela, aby pokazać mu zdjęcia jakiegoś hotelu. Samuel zerknął pobieżnie na zdjęcie odmruknął bez przekonania, że ok. Skupił się jednak na czymś zupełnie innym, a Gina zajęła się szukaniem kolejnego hotelu.

- Jak nazywał się hotel, w którym zatrzymaliśmy się ostatnio? – spytał Giny nieco zbyt głośno, po dłuższej chwili.

- Raphael.

- Zatrzymajmy się tam. Tam było fajnie. To dobry hotel – mówił Samuel wciąż trochę głośniej, niż zazwyczaj. Kliknął w aplikację notatnika, napisał w nim „nic nie mów, nie pytaj, wstań zaraz i chodź ze mną. Nic nie mów” i pokazał dyskretnie Ginie, po czym  wstał, podszedł do recepcji i zwrócił się do kobiety.

- Seniora, najmocniej przepraszam. Mam do pani uprzejmą prośbę. Pojedziemy do hotelu odświeżyć się i wrócimy, żeby spróbować spotkać się z lekarzem, jeśli pani nie ma nic przeciwko. Zostawię pani nazwę hotelu, gdyby z jakiekolwiek powodu chciała pani skontaktować się z nami. Nie czekając na reakcję kobiety, Samuel odwrócił się do Giny – Kochanie podaj mi proszę długopis i zapiszę adres naszego hotelu w razie potrzeby. Gina posłusznie wstała, podeszła do recepcji, wyciągnęła pióro, notatnik i podała Samuelowi. Kobieta w recepcji była nieco zaskoczona zachowaniem Samuela, nie przeszkodziła mu w żaden sposób, ale też nie przerwała swoich obowiązków. Prześwidrowała ich tylko krótko swoimi ciemnymi oczami i wróciła spowrotem do dokumentacji. Samuel napisał na kartce nazwę i adres hotelu Raphael i podsunął lekko kartkę w kierunku kobiety.

- Proszę, to jest adres naszego hotelu. Uprzejmie dziękuję pani za pomoc. Powinniśmy wrócić najpóźniej za dwie godziny.



Samuel wziął Ginę pod ramię i ruszyli w stronę korytarza. Nie poszli jednak ku głównemu wyjściu, tylko kilkanaście metrów dalej i skręcili za rogiem w inny korytarz. Tam Samuel zatrzymał się gwałtownie, wyciągnął szybko smartfon, wybrał aplikacje aparatu i wysunął smartfon za róg kierując obiektyw w stronę recepcji.

- Sammy, co Ty…

- Cicho Gina – przerwał jej szeptem. – Patrz w ekran.

Aplikacja ustawiona była na tryb nagrywania video. Na ekranie widać było przede wszystkim długi korytarz, a na jego końcu kontuar recepcji i sylwetkę kobiety w białym fartuchu.

- Co Ty nagrywasz?

- Czekaj. Zaraz się okaże.

Samuel delikatnie powiększył obraz na ekranie smartfona i sylwetka recepcjonistki zrobiła się wyraźniejsza. Kilka sekund później starszy mężczyzna podszedł do recepcji, wyciągnął rękę i wziął coś z kontuaru.

- Patrz teraz – szepnął podekscytowany Samuel. – To ten gość. On sprawdza tę kartę z nazwą hotelu.

Recepcjonistka i mężczyzna rozmawiali przez krótką chwilę i potem on odwrócił głowę w kierunku korytarza, którym odeszli Gania i Samuel. Samuel szybko cofnął rękę ze smartfonem, aby mężczyzna nie zorientował się, że jest obserwowany.

- No to nie zatrzymamy się w Raphaelu tym razem.



Szybko znaleźli drugie wyjście z kliniki i wyszli na zacieniony już plac parkingowy, gdzie dostrzegli jedyną taksówkę kilkadziesiąt metrów dalej. Samuel machnął w jej kierunku, kierowca taksówki musiał zorientować się od razu, że jest potrzebny, bo podjechał bez wahania. Wsiedli oboje z tyłu i polecili jechać spowrotem na Piazza Venezia. Samuel zerknął przez tylne okno, czy starszy mężczyzna wyszedł za nimi na zewnątrz. Nie było nikogo.

- Ten facet sprawdzał, gdzie się zatrzymaliśmy. Sprawdzał kartkę, żeby zobaczyć nazwę hotelu. Recepcjonistka wcale nie zareagowała.

- Jesteś pewien?

- Sama widziałaś. Poza tym zauważyłaś, jak on przyszedł? Wpadł do poczekalni, nie podszedł wcale do recepcji, tylko najpierw rozglądał się po ludziach. Zobaczył Ciebie, potem pewnie mnie i usiadł za nami. W ogóle nie rozmawiał z recepcjonistką. Ona też nie zwracała uwagi na niego. A niby taka spostrzegawcza. Chyba, że znała go. Jeśli go znała i wiedziała, dlaczego się pojawił, to nie musiała zwracać na niego większej uwagi. Może nawet spodziewała się go, dlatego nawet nie patrzyła w jego kierunku, kiedy się pojawił. I dlatego nie reagowała, kiedy podszedł do kontuaru i przeglądał kartkę, którą zostawiłem dla niej.

- Pokaż swój telefon – poprosiła Gina.

- Jestem pewien, że on wziął kartkę z kontuaru. Nie muszę nawet sprawdzać. Wiem, co widziałem. Proszę zobacz jeszcze raz.

Gina wzięła smartfon Samuela do ręki, wybrała aplikację zdjęć, odszukała ostatnie nagranie i kliknęła odtwarzanie. Faktycznie widać było wyraźnie, że ten starszy mężczyzna podchodzi do kontuaru sięga po coś, co na nim leżało.

- Zobacz, że recepcjonistka w ogóle nie reaguje.

Gina odtworzyła nagranie jeszcze raz dla pewności. Wiedziała, że Samuel lubi wierzyć w to, co mówi i czasami nakręca się za bardzo, jednak w tym przypadku miał rację. Wyglądało to dokładnie tak, jakby mężczyzna sprawdzał, co napisali na kartce a recepcjonistka wcale nie była zaskoczona tym zachowaniem. Rozum podpowiadał jej, żeby odrzucić wszelkie teorie spiskowa Samuela, ale nagranie nie pozostawiało żadnych wątpliwości.

- Co myślisz?

Gina nie odpowiedziała, włączyła odtwarzanie nagrania jeszcze raz zaczęła oglądać i bardzo uważnie. – Uważasz, że wymyślam, jak zwykle? Że chcę wierzyć, że facet nas sprawdzał, że to jedna z moich kolejnych teorii spiskowych. Nie Gina, to żadna teoria, facet nas sprawdzał.

 - Cicho bądź Sammy – przerwała mu stanowczo, wybrała jeszcze raz aplikację aparatu, włączyła nagrywanie i skierowała obiektywem prosto w Samuela oślepiając go lekko.

- Widziałeś koniec nagrania? On zauważył, że nagrywałeś, bo miałeś włączoną lampę, Sammy. Ten facet zorientował się, co zrobiłeś i pewnie szybko skojarzy, że zostawiłeś kartę z nazwą hotelu celowo, żeby go sprawdzić.<p/>
</div>


{% endblock content %}
