{% extends "base-with-no-nav.html" %}
{% block content %}


{% include "_nav2.html" %}
<div class="container py-5">
  <h1>Money</h1>
  <p>Hello dear Author</p>

  <p>Total money: 230 USD</p>
  <p>Last 24 hrs: 20 USD</p>
  <p>This week: 100 USD</p>
  <p>This month: 190 USD</p>
  <br><br>

  <p>Which chapters gained most</p>
  <p>Chapter 7 - Book title - 40 USD</p>
  <p>Chapter 5 - Book title - 35 USD</p>
  <p>Chapter 2 - Book title - 20 USD</p>
  <br><br>

  <p>Readers</p>
  <p>Daugie Jones - 3 USD</p>
  <p>Philip Jeffries - 3 USD</p>
  <p>Gordon Cole - 2 USD</p>



</div>


{% endblock content %}
